@font-face {
    font-family: "Bodwars";
    src: url("/fonts/Bodwars.otf");
  }
  
@font-face {
  font-family: "SomarRounded-Bold";
  src: url("/fonts/SomarRounded-Bold.ttf");
}

@font-face {
  font-family: "SomarRounded-Regular";
  src: url("/fonts/SomarRounded-Regular.ttf");
}