@font-face {
  font-family: "Bodwars";
  src: url("/fonts/Bodwars.otf");
}

@font-face {
  font-family: "SomarRounded-Bold";
  src: url("/fonts/SomarRounded-Bold.ttf");
}

@font-face {
  font-family: "SomarRounded-Regular";
  src: url("/fonts/SomarRounded-Regular.ttf");
}

.ReactCrop__child-wrapper {
  width: 100%;
  height: 100%;
}

.slick-slide{
  align-items: center;
  justify-content: center;
}
.slick-initialized .slick-slide {
  display: flex !important;
}